.trip-list {
  width: 90%;
  margin: 0 auto;
}

.trip-card {
  margin-top: 20px;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

/* Pfeile anpassen */
.arrow {
  display: block;
  width: 30px;
  height: 30px;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  cursor: pointer;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: auto;
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);

}